#navMain ul, #navMain li, #navMain a
{
	behavior:url(_includes/PIE.htc);
	z-index:999
}
#mastHead, #navMain, #siloHeader, #siloMenu, #menuToggle, #quoteToggle, .container, .button, .column, .innerContent, .message
{
	behavior:url(_includes/PIE.htc);
	z-index:999;
	-pie-box-shadow:none
}
.container
{
	border:1px solid #d0d0d0;
	border-bottom:1px solid #aaa;
	border-top:1px solid #fff
}
li#siteSearch { -pie-background:transparent !important }
#menuToggle span { border:1px solid #fafafa }
#quoteToggle span { border:1px solid #76b3ef }
